<!-- templates/login.html-->

<html>

<head>
    <title>Handling of post request</title>
</head>

<body>

        <h2>Handle POST Request</h2>
        <form method="POST" id="form"
              action="{{ url_for('post') }}">
            <p> <label for="filename">Config File:</label></p>
            <p>
            <input type="text"
                   name="configfile"
                   placeholder="Filename"/>
            </p>
              <p> <label for="config">or Config Data:</label></p>
              <p>
            <textarea  rows="10" cols="60" 
                   id="config"
                   type="text"
                   name="config"
                   placeholder="Config"></textarea>
              </p>
            <p> <label for="filetext">Text to be indexed:</label></p>
            <p>
            <textarea
                   rows="5"
                   cols="80" 
                   name="filetext"
                   placeholder="Filetext"></textarea>
            </p>
            <button type="submit">submit</button>
        </form>
</body>

</html>
